.checkout-page-whole-screen-wrapper {
    width: 100%;
}

.checkout-page-flex-wrapper {
    justify-content: space-between;
}

.checkout-page-shipping-wrapper {
    width: 55%;
}

.checkout-page-shipping-secondary-header {
    margin-bottom: 0.65rem;
}

.checkout-page-shipping-address {
    margin-bottom: 1rem;
}

.checkout-page-shipping-address-wrapper {
    gap: 0.5rem;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.checkout-page-new-shipping-address-btn {
    margin-top: 1.25rem;
}

.checkout-page-payment-wrapper {
    width: 40%;
}

.checkout-page-cart-item-wrapper {
    margin-bottom: 1rem;
    gap: 0.5rem;
}

.checkout-page-cart-item-sequence-number {
    width: max-content;
}

.checkout-page-cart-item-product {
    width: 100%;
    justify-content: space-between;
}

.checkout-page-cart-item-product-name {
    width: 60%;
}

.checkout-page-cart-item-price {
    width: 40%;
    justify-content: flex-end;
}

.checkout-page-cart-item-price-calculation {
    width: 100%;
    text-align: right;
}

.checkout-page-payment-wrapper-separator-line {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.15);
}

.checkout-page-payment-total-wrapper {
    margin-top: 0.5rem;
    justify-content: space-between;
}

.checkout-btn {
    margin-top: 1.5rem;
    align-self: flex-end;
}